<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.chief.update-request</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/hermes-converger</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/var/log/com.chief.update-request.err</string>
	<key>StandardOutPath</key>
	<string>/var/log/com.chief.update-request.log</string>
	<key>StartCalendarInterval</key>
	<dict/>
	<key>ThrottleInterval</key>
	<integer>15</integer>
	<key>WatchPaths</key>
	<array>
		<string>/var/lib/chief/requests/login</string>
		<string>/var/lib/chief/requests/wake</string>
		<string>/var/lib/chief/requests/network</string>
		<string>/var/lib/chief/requests/request</string>
	</array>
</dict>
</plist>
