[Unit]
Description=Run Chief node supervisor every 60 seconds

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=1s
Unit=chief-node-supervisor.service

[Install]
WantedBy=timers.target

