[Unit]
Description=Chief node supervisor
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/chief-node-supervisor
TimeoutStartSec=60
User=root
Group=chief
